.bg{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
}

.main{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 400px;
    max-width: 90vw;
}

@media screen and (min-height:900px){
    .main{
        top: 12vh;
        transform: translateX(-50%);
    }
}

.logo{
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    transform: translateX(-15px);
}

.hello{
    text-align: center;
    color: rgb(0, 0, 50);
    font-size: 36px;
    margin: 0 0 40px;
    font-weight: normal;
}